@page "/users/management"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))

@using Microsoft.AspNetCore.Authorization
@using eSUP.DTO
@using MudBlazor
@using Syncfusion.Blazor.Grids

@attribute [Authorize(Roles = "Admin")]

<MudPopoverProvider />
<MudText Typo="Typo.h3" Color="Color.Primary">User Management</MudText>
<hr />
<MudDataGrid @ref="userGrid" T="UserInformationDto" MultiSelection="true" @bind-SelectedItems="@SelectedUsers" ServerData="vm.LoadUsersFromServerAsync" Bordered="true" Dense LoadingProgressColor="Color.Secondary">
    <Header>
        <MudTooltip Text="Delete Selected">
            <MudIconButton Icon="@Icons.Material.Filled.Delete" class="ml-1 mt-n1 mb-n2" Size="Size.Medium" Color="Color.Error" OnClick="DeletedSelectedUsers">Delete Selected</MudIconButton>
        </MudTooltip>
    </Header>
    <Columns>
        <SelectColumn T="UserInformationDto" />
        <PropertyColumn Property="x => x.UserId" Title="ID" Hidden="true" />
        <PropertyColumn Property="x => x.FirstName" Title="First Name" />
        <PropertyColumn Property="x => x.LastName" Title="Last Name" />
        <PropertyColumn Property="x => x.Group" Title="Group" />
        <PropertyColumn Property="x => x.Email" Title="eMail" />
        <PropertyColumn Property="x => x.Role" Title="Role" />
        <TemplateColumn>
            <CellTemplate>
                <MudTooltip Text="Upgrade">
                    <MudIconButton Icon="@Icons.Material.Filled.MoveUp" Color=Color.Primary Size=Size.Small aria-label="upgrade" OnClick="() => vm.UpgradeRoleAsync(context.Item)" />
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="UserInformationDto" />
    </PagerContent>
</MudDataGrid>
@* <SfGrid DataSource="vm.Users"></SfGrid>
 *@<br />
<MudFileUpload T="IBrowserFile" Accept=".csv" FilesChanged="UploadUserListAsync">
    <ActivatorContent>
        <MudFab Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.AttachFile"
                Label="Import Users" />
    </ActivatorContent>
</MudFileUpload>
<br/>
<p>Data must be in CSV format with the column headings:</p>
<ul>
    <li>FirstName</li>
    <li>LastName</li>
    <li>Group</li>
    <li>Email</li>
    <li>Password</li>
</ul>
<p>The column headings are case-sensitive</p>